:root {
  --backgroundColor: white;
  --letrasColor: black;
  --primary-color: #e66200; /* Color principal */
  --primary-dark-color: #733100; /* Color principal más oscuro para el hover */
  --button-text-color: white; /* Color de texto para los botones */
}
